*{
    margin: 0;
    padding: 0;
}
.topo-site{
    margin: 0 auto;
    background-color: rgb(49, 173, 101);
    width: 80%;
    height: 600px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
a:hover{
    color: white;
    text-decoration: underline white;
}
